
#product h3{
	font-size:15px;
	font-weight:bold;
	color:#000;
	margin:0 0 20px 0;
	}
#product p span.sl{
	width:150px;
	height:auto;
	font-weight:bold;
	display:block;
	float:left;}
#prd-thumb, #prd-intro{
	margin:15px 0;
	}	
#prd-price{
	font-size:15px;
	}
.sr{
	color:#C40000;
	font-weight:bold;
	}
#product button{
	font-weight:bold;
	text-transform:uppercase;
	}	
#prd-details{
	line-height:18px;
	padding:15px 0;
	border-top:1px solid #ccc;
	margin-top:15px;
	}	
#comment{
	padding:15px 0;
	}	
#comment h3{
	font-size:15px;
	font-weight:bold;
	color:#000;
	text-transform:capitalize;
	margin:0 0 15px 0;
	}
#comment input	, #comment textarea{
	border-radius:0;
	}	
#comment textarea{
	height:250px;
	}
#comments{
	padding:15px 0;
	}	
#comments ul{
	border-bottom:1px dotted #ccc;}	
#comments ul li{
	list-style:none;
	}
#comments ul li.comm-name{
	font-weight:bold;
	color:#000;
	}	
#comments ul li.comm-details{
	line-height:18px;
	padding:10px 0;}
#pagination{
	padding:0;}	
ul.pagination{
	margin:0;
	}							
#pagination{
	text-align:right;
	}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}		
#pagination a{
	color:#000;
	}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
	background:#C40000;
	border-color:#C40000;
	}