
#giohang{
	margin-top: 15px;
}
#giohang h2 {

	height: 35px;
	line-height: 35px;
	text-transform: capitalize;
	font-size: 15px;
	font-weight: bold;
	color: #FFF;
	background: #f96500;
	padding: 0 15px;
	margin: 0;
}