*{
	margin:0;
	padding:0;
}
body{
	font-family:arial;
	font-size:14px;
	color:#333;
}
#header{
	background:#FF9600;}
#logo, #search, #cart,#dangky{
	height:98px;}
#logo {
	margin-left: -65px;
	margin-top: -22px;
}
#search {
	
}
#search input{
	float:left;
	margin-top:30px;
}

#search input[type=text]{
	width:320px;
	height:35px;
	border:1px solid #FFF;
	background:transparent;
	color:#FFF;
	padding-left:15px;
	font-size:12px;
	margin-left: 100px;
}
#search input[type=submit]{
	height:35px;
	background:#FFF;
	padding:0 15px;
	border:none;
	font-size:12px;
	color:#FF9600;
}
#cart{
	background: url(images/cart.png);
	line-height:98px;
	font-weight:bold;
	color:#FFF;
	margin-left: 60px;
	}
#cart a{
	color:#F00;
	margin-left:60px;
}
#dangky{
	margin-top: 30px;
	background:transparent;
	color:#FF9600;
}
#dangky .glyphicon{
	color: white;
	margin-bottom: 30px;
	margin-left: 50px;
	padding-right: 25px;
	}
#dangky a{
	color: #fff;
	text-decoration: none;
}
#menu .navbar-inverse{
	background: #DDD;
	border: none; 
}

#menu .active a{
	background-color: #FF9933;
}
#sidebar .img-responsive{
	padding-bottom: 15px;
	height: 182px;
}
#sale h2{
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	line-height: 49px;
}
#sale h2 a{
	text-decoration: none;
	background: #ff8c04;
	min-width: 205px;
	padding: 0 15px;
	margin: 0;
	position: relative;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	display: inline-block;
}
#body{
	margin-bottom: 30px;
}
#sanpham{
	width: 1161px;
	margin-bottom: 30px;
}
.banner{
	margin-bottom: 30px;
}
.banner #bannerimg2{
	padding-left: 35px;
}
#tintuc h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #2f2f33;	
	margin-top: -3px;

}
.comment{
	margin-bottom: -8px;
}
#tintuc h3:hover a {
   color: #FF9600;
   text-decoration: none;
}

#xemthem #doctiep{
	color: #ff9600;
	text-decoration: none;
}
#footer{
	background: #DDD;
	padding-top: 30px;
}
#footer1 h3{
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	color: #000;
	margin-bottom: 0px;
	line-height: 34px;
	font-weight: 500;
	margin-top: 0px;
	
	padding-bottom: 5px;
	text-transform: uppercase;
}
#footer1 a{
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	color: #000;
	line-height: normal;
	text-decoration: none;
}
#footer1 li {
	list-style:none;
	line-height: 30px;
}
#footer1 input{
	float: left;
}
#footer1  input[type=text]{
	border: 1px solid #ebebeb;
	padding: 9px 20px;
	width: 80%;
	max-width: 100%;
	display: block;
}
#footer1  input[type=button]{
	border: none;
	padding: 10px 20px;
	width: 20%;
	max-width: 100%;
	display: block;
	background: #ff9600;
}
#footer-b{
	background:#FF6700;
	position:relative;}
.footer-b-item p{
	height:100px;
	line-height:100px;
	color:#FFF;
	font-size:12px;}
#scroll{
	position:absolute;
	top:0;
	right:0;
}


.danhmuc{
	border: 1px solid #ccc;
	margin-top: 15px;
}
.danhmuc .h2-bar{
	height: 35px;
	line-height: 35px;
	text-transform: capitalize;
	font-size: 15px;
	font-weight: bold;
	color: #FFF;
	background: #3F3F3F;
	padding: 0 15px;
	margin: 0;
}
.danhmuc ul{
	padding: 0 15px;
}
.danhmuc ul li{
	list-style: none;
	text-decoration: none;
	height: 35px;
	line-height: 35px;
	font-size: 15px;
	font-weight: bold;
}


.product{
	margin-top: 15px;
	margin-bottom: 30px;
	
}

 h2{
	margin-left: -15px;
	height: 35px;
	line-height: 35px;
	text-transform: capitalize;
	font-size: 15px;
	font-weight: bold;
	color: #FFF;
	background: #F96500;
	padding: 0 15px;
	margin: 0;
}
.product .product-item{
	padding: 5px;
	border: 1px solid #ccc;
}
.product-item h3 {
	margin: 10px;
	font-size: 12px;
	font-weight: bold;
}
.product-item h3 a{
	color: #000;
	text-decoration: none;
}
.product-item .price{
	font-weight: bold;
	color: #C40000;
	height: 30px;
	line-height: 30px;
}

#counter p {
	border: 1px solid red;
    height: 35px;
    background: black;
    color: white;
    line-height: 35px;
    padding-left: 20px;
}